@import '~node_modules/modern-normalize/modern-normalize.css';

.rules,
.answer-text-1,
.answer-text-2,
.answer-text-3,
.answer-text-4 {
  display: none;
}
.is-visible {
  display: block;
}
.correct-value {
  border: 2px solid green;
  color: #fff;
  background-color: green;
}
.uncorrect-value {
  border: 2px solid red;
  color: #fff;
  background-color: red;
}
